<div class="fadein animation-duration-500">
  <br>
  <div class="card">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-dialog header='{{"Home.Single-song-title" | translate}} ' [(visible)]="showForm" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-6">
          <label for="title">{{"Song_Atr.title" | translate}}</label>
          <input pInputText id="title"[(ngModel)]="songToEdit.title" />
        </div>
          &nbsp;
        <div class="flex flex-column gap-2 col-6">
          <label for="year">{{"Song_Atr.year" | translate}}</label>
          <input  pInputText id="year"[(ngModel)]="songToEdit.year" />
        </div>
      </div>
      <br>
      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-6">
          <label for="duration">{{"Song_Atr.duration" | translate}}</label>
          <p-inputNumber id="duration" inputId="integeronly" [(ngModel)]="songToEdit.duration"> </p-inputNumber>
        </div>
        &nbsp;
        <div class="flex flex-column gap-2 col-6">
          <label for="rating">{{"Song_Atr.rating" | translate}}</label>
          <p-inputNumber [min]="0" [max]="10" id="rating" [(ngModel)]="songToEdit.rating" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"> </p-inputNumber>
        </div>
      </div>
      <br>
      <div class="card flex justify-content-center">
        <p-button label="{{'Utils.Cancel' | translate}}" [rounded]="true" (onClick)="showForm = false"
                  icon="pi pi-times" severity="danger"></p-button>
        &nbsp;
        <p-button *ngIf="editForm" label="{{'Utils.Edit' | translate}}" [rounded]="true" (onClick)="editSongReq()"
                  icon="pi pi-pencil" severity="info"></p-button>
        &nbsp;
        <p-button *ngIf="!editForm" label="{{'Utils.Save' | translate}}" [rounded]="true" (onClick)="addSongReq()"
                  icon="pi pi-save" severity="success"></p-button>
      </div>
    </p-dialog>
    <h1 style="text-align:center">  {{"Home.Song-title" | translate}}  </h1>
    <br>
    <p-skeleton *ngIf="!songsLoaded" height="12rem" styleClass="mb-2"></p-skeleton>
    <div *ngIf="songsLoaded">
      <div *ngIf="songs.length == 0">
        <p-divider></p-divider>
        <h2 style="text-align:center">  {{"Utils.No-data" | translate}}  </h2>
        <p-divider></p-divider>
      </div>
      <div style="text-align:center; " *ngFor="let song of songs;">
        <div class="justify-content-center border-1 surface-border border-round m-2 text-center">
          <h3 class="text-l font-bold text-900">{{ song.title }}
            ( {{(song.artist_name != null ? song.artist_name : "-")}} )</h3>

          <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
               src="{{ song.poster }}" [alt]="song.title"/>

          <div class=" m-5 flex justify-content-center">
            <div style="text-align:center; " *ngFor="let tag of song.genre">
              <p-tag value="{{tag}}" [rounded]="true"></p-tag>
              &nbsp;
            </div>
            <div class="flex">
              <i class="pi pi-star text-yellow-500 text-l"></i>
              &nbsp;
              <div class="text-900  font-medium text-l"> {{song.rating}}</div>
            </div>
          </div>
          <div class="m-3">
            <p-button label="{{'Utils.Edit' | translate}}" [rounded]="true" (onClick)="editSong(song)"
                      icon="pi pi-pencil" severity="warning"></p-button>
            &nbsp;
            <p-button label="{{'Utils.Delete' | translate}}" [rounded]="true"
                      (onClick)="deleteSongyDialog($event, song)"
                      icon="pi pi-trash" severity="danger"></p-button>
          </div>
        </div>
      </div>
    </div>
    <p-button icon="pi pi-plus" class="staticButtonPlus" (click)="addSong()" [rounded]="true"
              [outlined]="true"></p-button>
  </div>
</div>
