<div class="fadein animation-duration-1000">
  <p-toast></p-toast>
  <h1 style="text-align:center"> {{"Home.Have-title" | translate}} </h1>
  <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"> {{"Home.Song-title" | translate}} </span>
              <div class="text-900 font-medium text-xl" *ngIf="songsLoaded">{{songs.length}}</div>
              <div class="text-900 font-medium text-xl" *ngIf="!songsLoaded"><p-skeleton styleClass="mb-2"></p-skeleton></div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                 style="width:2.5rem;height:2.5rem">
              <i class="pi pi-play text-blue-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"> {{"Home.Artist-title" | translate}} </span>
              <div class="text-900 font-medium text-xl" *ngIf="artistsLoaded">{{artists.length}}</div>
              <div class="text-900 font-medium text-xl" *ngIf="!artistsLoaded"><p-skeleton styleClass="mb-2"></p-skeleton></div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                 style="width:2.5rem;height:2.5rem">
              <i class="pi pi-user text-orange-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-4">
        <div class="surface-card shadow-2 p-3 border-round">
          <div class="flex justify-content-between mb-3">
            <div>
              <span class="block text-500 font-medium mb-3"> {{"Home.Record-title" | translate}} </span>
              <div class="text-900 font-medium text-xl" *ngIf="recordsLoaded">{{records.length}}</div>
              <div class="text-900 font-medium text-xl" *ngIf="!recordsLoaded"><p-skeleton styleClass="mb-2"></p-skeleton></div>
            </div>
            <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                 style="width:2.5rem;height:2.5rem">
              <i class="pi pi-building text-purple-500 text-xl"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-divider></p-divider>
<br>
<div class="fadeinright animation-duration-500">
  <div class="card">
    <h1 style="text-align:center">  {{"Home.Song-title" | translate}}  </h1>
    <p-skeleton *ngIf="!songsLoaded" height="12rem" styleClass="mb-2"></p-skeleton>
    <div *ngIf="songsLoaded">
      <div *ngIf="songs.length == 0">
        <p-divider></p-divider>
        <h2 style="text-align:center">  {{"Utils.No-data" | translate}}  </h2>
        <p-divider></p-divider>
        <br>
      </div>
      <p-carousel *ngIf="songs.length != 0" [value]="songs" [numVisible]="3" [numScroll]="3" [circular]="true"
                  [responsiveOptions]="responsiveOptions">
        <ng-template let-song pTemplate="item">
          <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
            <div class="mb-3">
              <img *ngIf="song.poster != null" src="{{ song.poster }}" [alt]="song.title" class="w-2 shadow-2"/>
              <p-avatar *ngIf="song.poster == null" label="{{song.title.substring(0,1)}}" styleClass="mr-2"
                        size="xlarge"></p-avatar>
            </div>
            <div>
              <h5 class="mb-1">{{song.title }}<br> {{"Home.by" | translate}}  <br> {{ (getArtistById(song.artist)?.name!= null ? getArtistById(song.artist)?.name : "-")}}</h5>
              <h6
                class="mt-3 mb-3">{{ song.duration }} {{"Home.publish-year" | translate}} {{ song.year }}</h6>
              <h4 class="mt-2 mb-3"> {{"Home.Rating" | translate}} </h4>
              <div class="mt-0 flex align-items-center justify-content-center gap-2">
                <p-rating [(ngModel)]="song.rating" [readonly]="true" [stars]="10" [cancel]="false"></p-rating>{{song.rating}}
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
<p-divider></p-divider>
<br>
<div class="fadeinleft animation-duration-500">
<div class="card">
  <h1 style="text-align:center">  {{"Home.Artist-title" | translate}}  </h1>
  <p-skeleton *ngIf="!artistsLoaded" height="12rem" styleClass="mb-2"></p-skeleton>
  <div *ngIf="artistsLoaded">
    <div *ngIf="artists.length == 0">
      <p-divider></p-divider>
      <h2 style="text-align:center">  {{"Utils.No-data" | translate}}  </h2>
      <p-divider></p-divider>
      <br>
    </div>
    <p-carousel *ngIf="artists.length != 0" [value]="artists" [numVisible]="3" [numScroll]="3" [circular]="true"
                [responsiveOptions]="responsiveOptions">
      <ng-template let-artist pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
          <div class="mb-3">
            <img *ngIf="artist.img != null" src="{{ artist.img }}" [alt]="artist.name" class="w-2 shadow-2"/>
            <p-avatar *ngIf="artist.img == null" label="{{artist.name.substring(0,1)}}" styleClass="mr-2"
                      size="xlarge"></p-avatar>
          </div>
          <div>
            <h4 class="mb-1">{{ artist.name }}</h4>
            <h6
              class="mt-0 mb-3">{{ artist.birthdate + ' ' + artist.bornCity + ' - Total songs ' + artist.songs.length }}</h6>
            <h4 class="mt-4 mb-3"> {{"Home.Rating" | translate}} </h4>
            <div class="mt-0 flex align-items-center justify-content-center gap-2">
              <p-rating [(ngModel)]="artist.rating" [readonly]="true" [stars]="10" [cancel]="false"></p-rating>{{artist.rating}}
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
</div>
<br>
<p-divider></p-divider>
<div class="fadeinup animation-duration-500">
  <div class="card">
    <h1 style="text-align:center">  {{"Home.Record-title" | translate}}  </h1>
    <p-skeleton *ngIf="!recordsLoaded" height="12rem" styleClass="mb-2"></p-skeleton>
    <div *ngIf="recordsLoaded">
    <div *ngIf="records.length == 0">
      <p-divider></p-divider>
      <h2 style="text-align:center">  {{"Utils.No-data" | translate}}  </h2>
      <p-divider></p-divider>
      <br>
    </div>
    <p-carousel *ngIf="records.length != 0" [value]="records" [numVisible]="3" [numScroll]="3" [circular]="true"
                [responsiveOptions]="responsiveOptions">
      <ng-template let-record pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">

          <div>
            <h4 class="mb-1">{{ record.name }}</h4>
            <h6
              class="mt-0 mb-3">{{ record.createYear}}</h6>

            <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Location" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.country}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-blue-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Employees" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.employees}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-user text-orange-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Song-title" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.songs.length}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-play text-cyan-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Rating" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.rating}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-star text-yellow-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
    </div>
  </div>
</div>
