<div class="fadein animation-duration-500">
  <br>
  <div class="card">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-dialog header='{{"Home.Single-artist-title" | translate}} ' [(visible)]="showForm" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-6">
          <label for="name">{{"Artist_Atr.name" | translate}}</label>
          <input pInputText id="name"[(ngModel)]="artistToEdit.name" />
        </div>
        &nbsp;
        <div class="flex flex-column gap-2 col-6">
          <label for="bornCity">{{"Artist_Atr.bornCity" | translate}}</label>
          <input  pInputText id="bornCity"[(ngModel)]="artistToEdit.bornCity" />
        </div>
      </div>
      <br>
      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-6 ">
          <label for="birthdate">{{"Artist_Atr.birthdate" | translate}}</label>
          <p-calendar id="birthdate" dateFormat="dd/mm/yy" [readonlyInput]="true"  [(ngModel)]="artistToEdit.birthdate" [showIcon]="true"></p-calendar>
        </div>
        &nbsp;
        <div class="flex flex-column gap-2 col-6">
          <label for="rating">{{"Artist_Atr.rating" | translate}}</label>
          <p-inputNumber id="rating" [min]="0" [max]="10" [(ngModel)]="artistToEdit.rating" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"> </p-inputNumber>
        </div>
      </div>
      <br>
      <div class="card flex justify-content-center">
        <p-button label="{{'Utils.Cancel' | translate}}" [rounded]="true" (onClick)="showForm = false"
                  icon="pi pi-times" severity="danger"></p-button>
        &nbsp;
        <p-button *ngIf="editForm" label="{{'Utils.Edit' | translate}}" [rounded]="true" (onClick)="editArtistReq()"
                  icon="pi pi-pencil" severity="info"></p-button>
        &nbsp;
        <p-button *ngIf="!editForm" label="{{'Utils.Save' | translate}}" [rounded]="true" (onClick)="addArtistReq()"
                  icon="pi pi-save" severity="success"></p-button>
      </div>
    </p-dialog>
    <h1 style="text-align:center">  {{"Home.Artist-title" | translate}}  </h1>
    <br>
    <p-skeleton *ngIf="!artistsLoaded" height="12rem" styleClass="mb-2"></p-skeleton>
    <div *ngIf="artistsLoaded">
      <div *ngIf="artists.length == 0">
        <p-divider></p-divider>
        <h2 style="text-align:center">  {{"Utils.No-data" | translate}}  </h2>
        <p-divider></p-divider>
      </div>
      <div class="card flex" *ngIf="artists.length != 0">
        <p-dataView #dv [value]="artists" [rows]="5" [paginator]="true" class="col-5">
          <ng-template let-artists pTemplate="list">
            <div class="grid grid-nogutter">
              <div class="col-12" *ngFor="let artist of artists; let first = first" (click)="viewArtist(artist.id)">
                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
                     [ngClass]="{ 'border-top-1 surface-border': !first }">
                  <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                       *ngIf="artist.img != null" src="{{ artist.img }}" [alt]="artist.name"/>
                  <p-avatar size="xlarge" *ngIf="artist.img == null" label="{{artist.name.substring(0,1)}}"/>
                  <div
                    class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                    <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                      <span class="text-l font-bold text-900">{{ artist.name }}</span>
                      <span class="text-s font-bold text-900">{{ artist.birthdate }}</span>
                      <div class="flex">
                        <i class="pi pi-star text-yellow-500 text-l"></i>
                        &nbsp;
                        <div class="text-900  font-medium text-l"> {{artist.rating}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
        <p-divider layout="vertical"></p-divider>
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3 col-5"
             *ngIf="artistSelected != null">
          <div class="mb-3">
            <img *ngIf="artistSelected.img != null" src="{{ artistSelected.img }}" [alt]="artistSelected.name"
                 class="w-4 shadow-2"/>
            <p-avatar *ngIf="artistSelected.img == null" label="{{artistSelected.name.substring(0,1)}}"
                      styleClass="mr-2"
                      size="xlarge"></p-avatar>
          </div>
          <div>
            <h1 class="mb-1">{{ artistSelected.name }}</h1>
          </div>
          <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                    <div>
                      <span class="block text-500 font-medium mb-3"> {{"Home.Location" | translate}} </span>
                      <div class="text-900 font-medium text-xl">{{artistSelected.bornCity}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                         style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-map-marker text-blue-500 text-xl"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                    <div>
                      <span class="block text-500 font-medium mb-3"> {{"Artists.Bitrh-Date" | translate}} </span>
                      <div class="text-900 font-medium text-xl">{{artistSelected.birthdate}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                         style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-calendar text-orange-500 text-xl"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                    <div>
                      <span class="block text-500 font-medium mb-3"> {{"Home.Song-title" | translate}} </span>
                      <div class="text-900 font-medium text-xl">{{artistSelected.songs.length}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                         style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-play text-cyan-500 text-xl"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                  <div class="flex justify-content-between mb-3">
                    <div>
                      <span class="block text-500 font-medium mb-3"> {{"Home.Rating" | translate}} </span>
                      <div class="text-900 font-medium text-xl">{{artistSelected.rating}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-yellow-100 border-round"
                         style="width:2.5rem;height:2.5rem">
                      <i class="pi pi-star text-yellow-500 text-xl"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                  <p-button label="{{'Utils.Edit' | translate}}" size="large" (onClick)="editArtist(artistSelected)"
                            icon="pi pi-pencil" severity="warning"></p-button>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <div class="surface-card shadow-2 p-3 border-round">
                  <p-button label="{{'Utils.Delete' | translate}}" size="large" (onClick)="deleteArtistDialog($event, artistSelected)"
                            icon="pi pi-trash" severity="danger"></p-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-button icon="pi pi-plus" class="staticButtonPlus" (click)="addArtist()" [rounded]="true"
              [outlined]="true"></p-button>
  </div>
</div>
