<div class="fadein animation-duration-500">
  <br>
  <div class="card">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-dialog header='{{"Home.Single-record-title" | translate}} ' [(visible)]="showForm" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-6">
          <label for="name">{{"Record_Atr.name" | translate}}</label>
          <input pInputText id="name"[(ngModel)]="recordToEdit.name" />
        </div>
        <div class="flex flex-column gap-2 col-6">
          <label for="country">{{"Record_Atr.country" | translate}}</label>
          <input  pInputText id="country"[(ngModel)]="recordToEdit.country" />
        </div>
      </div>
      <br>

      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-12">
          <label for="createYear">{{"Record_Atr.createYear" | translate}}</label>
          <p-inputNumber id="createYear" [min]="0" [max]="2024" inputId="integeronly" [(ngModel)]="recordToEdit.createYear"> </p-inputNumber>
        </div>
      </div>
      <br>
      <div class="card flex justify-content-center col-12">
        <div class="flex flex-column gap-2 col-6">
          <label for="employees">{{"Record_Atr.employees" | translate}}</label>
          <p-inputNumber id="employees" [min]="0" inputId="integeronly" [(ngModel)]="recordToEdit.employees"> </p-inputNumber>
        </div>
        &nbsp;
        <div class="flex flex-column gap-2 col-6">
          <label for="rating">{{"Record_Atr.rating" | translate}}</label>
          <p-inputNumber id="rating" [min]="0" [max]="10" [(ngModel)]="recordToEdit.rating" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"> </p-inputNumber>
        </div>
      </div>
      <br>
      <div class="card flex justify-content-center">
        <p-button label="{{'Utils.Cancel' | translate}}" [rounded]="true" (onClick)="showForm = false"
                  icon="pi pi-times" severity="danger"></p-button>
        &nbsp;
        <p-button *ngIf="editForm" label="{{'Utils.Edit' | translate}}" [rounded]="true" (onClick)="editCompanyReq()"
                  icon="pi pi-pencil" severity="info"></p-button>
        &nbsp;
        <p-button *ngIf="!editForm" label="{{'Utils.Save' | translate}}" [rounded]="true" (onClick)="addCompanyReq()"
                  icon="pi pi-save" severity="success"></p-button>
      </div>
    </p-dialog>
    <h1 style="text-align:center">  {{"Home.Record-title" | translate}}  </h1>
    <br>
    <p-skeleton *ngIf="!recordsLoaded" height="12rem" styleClass="mb-2"></p-skeleton>
    <div *ngIf="recordsLoaded">
      <div *ngIf="recordsFilter.length == 0">
        <p-divider></p-divider>
        <h2 style="text-align:center">  {{"Utils.No-data" | translate}}  </h2>
        <p-divider></p-divider>
      </div>
      <div class="grid">
      <ng-container *ngFor="let record of recordsFilter; let i = index" class="col-12">
        <div class="" *ngIf="i % 3 == 0">
          <div class="row">
          </div>
          <div class="col-12 md:col-6 lg:col-12" *ngIf="(i + 1) % 3 == 0 || i === recordsFilter.length - 1">
          </div>
        </div>
        <div
          class="border-1 surface-border border-round text-center col-12 md:col-6 lg:col-4">
          <div>
              <h4 class="mb-1">{{ record.name }}</h4>
            <h6
              class="mt-0 mb-3">{{ record.createYear}}</h6>

            <div class="surface-ground px-4 py-5 md:px-6 lg:px-8">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Location" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.country}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                           style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-map-marker text-blue-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Employees" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.employees}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                           style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-user text-orange-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Song-title" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.songs.length}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                           style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-play text-cyan-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6">
                  <div class="surface-card shadow-2 p-3 border-round">
                    <div class="flex justify-content-between mb-3">
                      <div>
                        <span class="block text-500 font-medium mb-3"> {{"Home.Rating" | translate}} </span>
                        <div class="text-900 font-medium text-xl">{{record.rating}}</div>
                      </div>
                      <div class="flex align-items-center justify-content-center bg-yellow-100 border-round"
                           style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-star text-yellow-500 text-xl"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <p-button label="{{'Utils.Edit' | translate}}" (onClick)="editCompany(record)" icon="pi pi-pencil" severity="warning"></p-button>
            &nbsp;
            <p-button label="{{'Utils.Delete' | translate}}" (onClick)="deleteCompanyDialog($event, record)" icon="pi pi-trash" severity="danger"></p-button>
          </div>
        </div>

      </ng-container>
      </div>
    </div>
  </div>
  <br>
  <p-paginator *ngIf="records.length != 0" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="records.length"
               [rowsPerPageOptions]="[3, 6, 9]"></p-paginator>
  <p-button icon="pi pi-plus" class="staticButtonPlus" (click)="addCompany()" [rounded]="true"  [outlined]="true"></p-button>
</div>
