/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/arya-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.staticButtonPlus{
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 2;
}
